.link-section {
  min-height: 100vh;
  background-color: var(--bulma-scheme-main);
  color: var(--bulma-text);
}

.link-title {
  color: var(--bulma-text-strong);
}

.link-home {
  align-self: flex-start;
  color: var(--bulma-link-text);
}

.link-list {
  gap: 2rem;
  margin: 0 auto;
}

.link-link {
  transition: background 0.2s, color 0.2s, box-shadow 0.2s;
}
