@charset "utf-8";
@use "bulma";

:root {
    --bulma-family-primary: "Geologica", "Noto Sans HK", sans-serif;
}

html {
    scroll-behavior: smooth;
}

[id] {
    scroll-margin-top: 4rem;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
