@import "~bulma/sass/utilities/initial-variables.sass";

$identity-bg: $white-ter;
$backdrop-filter: blur(1.25rem) brightness(100%);

.identity {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 1rem 1.25rem;
  backdrop-filter: $backdrop-filter;
}
.button.is-light.is-outlined.is-blurred,
.button.is-light.is-outlined.is-blurred:hover,
.button.is-light.is-outlined.is-blurred.is-hovered,
.button.is-light.is-outlined.is-blurred:focus,
.button.is-light.is-outlined.is-blurred.is-focused {
  backdrop-filter: $backdrop-filter;
}
